/* Tailwind */
@import url('./tailwind.css');

/* Variables */

/* Global styles */


/* ScrollBar */
::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d0e6f5;
  border-radius: 2rem
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f435d3c;
  border-radius: 2rem
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f435d58;
  }